/* FILE: starter/forms/_forms.scss */

//
// Basic form styles
//





// Imports

	@import "_reset";



// Basic form styles

	label {
		display: inline-block;
		padding-bottom: $golden_minor / 2 +em;

		&[for] {
			cursor: pointer;
		}

		+ input[type="checkbox"] {
			margin-#{$left}: $golden_minor +em; // {{RTL}}
		}

	}

	select,
	input:not([type]),
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"] {
		width: 17em;
	}

	textarea {
		@extend %break_words;
		vertical-align: top;
		overflow-y: auto;
		resize: vertical;
	}

	input[type="checkbox"],
	input[type="radio"] {
		position: relative;
		width: 1em;
		height: 1em;
		bottom: $golden_minor / 2 * -1em;
		margin-#{$right}: $golden_minor +em; // {{RTL}}
		vertical-align: baseline;
	}

	select {
		@extend %break_words_disable;
		position: relative;
		height: auto;
		line-height: $golden;

		// From Foundation @link  http://foundation.zurb.com/sites/docs/forms.html#select-menus

			-webkit-appearance: none;
				 -moz-appearance: none;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 138, 138%29"></polygon></svg>');
			background-size: 9px 6px;
			background-position: $right center; // {{RTL}}
			background-origin: content-box;
			background-repeat: no-repeat;

			&:disabled {
				cursor: default;
				opacity: .66;
			}

			&::-ms-expand {
				display: none;
			}

			@media screen and (min-width: 0\0) {
				background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
			}

	}

	input[disabled] {
		cursor: default;
		opacity: .66;
	}



// Imports

	@import "_comments";

	@import "_search";
