/* FILE: starter/wp/blocks/__pullquote.scss */

//
// Pullquotes
//





@if ( index( $supported_blocks, 'pullquote' ) ) {

	%pullquote {
		clear: none;
		width: 50%;
		padding: 0;
		margin-left: 6%;
		margin-right: 6%;

		@include media( map_get( $breakpoint, 's' ) ) {
			width: percentage( $golden_minor );
		}

	}

	blockquote,
	.wp-block-pullquote {

		&.alignleft {
			@extend %pullquote;
			margin-left: 0;
			text-align: right;

			@include media( map_get( $breakpoint, 'xxl' ) ) {
				margin-left: percentage( -$golden_minor / 4 );
			}

		}

		&.alignright {
			@extend %pullquote;
			margin-right: 0;
			text-align: left;

			@include media( map_get( $breakpoint, 'xxl' ) ) {
				margin-right: percentage( -$golden_minor / 4 );
			}

		}

	}

	.wp-block-pullquote {
		padding: 0;

		&:not(:last-child) {
			margin-bottom: $golden +em;
		}

		&,
		&.alignleft,
		&.alignright {

			blockquote {
				text-align: inherit;
			}

			p {
				font-size: inherit;
			}

		}

	}

}
