/* FILE: starter/sidebar/_sidebar.scss */

//
// Basic sidebar and global widgets styles
//





// Sidebar

	.sidebar {
		@extend %line_height_golden;
		margin: ( $golden +rem ) 0 0;
		padding: ( $golden +rem ) 0 0;

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			float: right;
			margin-top: 0;
			padding-top: 0;
		}

	}



// Global widget styles

	.widget {

		.sidebar & {
			margin: ( power( $golden, 2 ) +em ) 0 0;
		}

		.sidebar .screen-reader-text + & {
			margin-top: 0;
		}

		ul {
			margin: 0;
			list-style: none;

			li {
				padding: ( $golden_minor +em ) 0;
				border-top: 1px solid;
				border-bottom: 1px solid;

				+ li {
					margin-top: -1px;
				}

				ul {
					position: relative;
					bottom: $golden_minor * -1em;
					margin: 0 0 -1px;
				}

				li {
					padding-left: 1em;
				}

			}

		}

	}



// Imports

	@import "_widgets";
