/* FILE: starter/wp/__alignment.scss */

//
// Alignments
//





.alignleft {
	float: left;
	margin-right: 6%;
	margin-bottom: 1em;
}

.alignright {
	float: right;
	margin-left: 6%;
	margin-bottom: 1em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone {
	margin: 0;
}
