/* FILE: starter/base/__table.scss */

//
// General table styles
//





table {
	@extend %line_height_golden_minor;
	width: 100%;
	margin: 0 0 $golden*1em;
	border: 2px solid;

	.site & {
		//
		// Has to be more specific as otherwise it causes some weird issue in WordPress 4.5 (with jQuery 1.2.0+) and Beaver Builder.
		// Simply, Beaver Builder does not open media library. The issue must be related to jQuery, but can be fixed by applying
		// table border collapse more specifically.
		// The issue only occurs when these styles are applied on table: `table { border-style: solid; border-collapse: collapse; }`
		//
		border-collapse: collapse;
	}

}

caption {
	padding: 1em 0;
}

th,
td {
	padding: ( $golden_major +em ) 1em;
	border: 1px solid;
	vertical-align: top;
}

th,
tfoot td {
	@extend .weight-700;
	text-align: $left; // {{RTL}}
	border-width: 2px;
}
